@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --brand: #c7af9f;
  --white: #ffffff;
}
#banner {
  background-image: url(images/hero.png);
  background-image: linear-gradient(rgba(0,0,0,0.1) ,var(--brand)),url(images/hero.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.logo {
  color: var(--white);
  font-size: 28px;
  position: absolute;
  left: 10%;
  top: 4%;
  cursor: pointer;
}
.logo span {
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
}
.banner-text {
  text-align: center;
  color: var(--white);
  padding-top: 180px;
}
.banner-text h1 {
  font-size: 130px;
  font-family: "Kaushan Script", cursive;
}
.banner-text p {
  font-size: 20px;
  font-style: italic;
}
.banner-btn {
  margin: 70px auto 0px;
}
.banner-btn a {
  width: 150px;
  text-decoration: none;
  border: 3px solid var(--white);
  color: var(--white);
  padding: 12px 0;
  margin: 0 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}
.banner-btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span {
  width: 100%;
}
.banner-btn a:hover {
  color: #000000;
}
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250;
  top: 0;
  background-color: var(--brand);
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul a {
  text-decoration: none;
  color: var(--white);
}
#menuBtn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 3;
  color: var(--white);
  background-color: var(--brand);
  text-align: center;
  border-radius: 4px;
}
#menuBtn img {
  margin-top: 15px;
  width: 20px;
}

@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 44px;
  }
  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
}

/* feature */
#feature {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
  padding-bottom: 70px;
}
.title-text p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: var(--brand);
  margin: auto;
}
.title-text h1 {
  font-size: 50px;
}
.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.features {
  flex-basis: 50%;
}
.features-img {
  flex-basis: 50%;
  margin: auto;
}
.features-img img {
  width: 70%;
}
.features h1 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--brand);
}
.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.features-icon i {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: 1px solid var(--brand);
  border-radius: 8px;
  color: var(--brand);
  line-height: 50px;
}
.features p {
  padding: 0px 20px;
  text-align: initial;
}
@media screen and (max-width: 850px) {
  .title-text h1 {
    font-size: 35px;
  }
  .features {
    flex-basis: 110%;
  }
  .features-img {
    flex-basis: 100%;
  }
  .features-img img {
    width: 100%;
  }
}

/* services */
#services {
  width: 100%;
  padding: 70px 0;
  background-color: #efefee;
}
.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: var(--white);
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--brand));
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay {
  opacity: 1;
}

.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 1s;
}
hr {
  background-color: var(--white);
  border: 0;
  height: 2px;
  margin: 15px auto;
  width: 60%;
}
.service-desc p {
  font-size: 14px;
}
.single-service:hover .service-desc {
  bottom: 40%;
  opacity: 1;
}

@media screen and (max-width: 770px) {
  .single-service {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p {
    font-size: 12px;
  }
  hr {
    margin: 5px auto;
  }
  .single-service:hover .service-desc {
    bottom: 25% !important;
  }
}

/* testimonials */
#testimonials {
  width: 100%;
  padding: 70px 0;
}
.testimonial-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.testimonial-col {
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial-col p {
  font-size: 14px;
}
.user {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.user img {
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}
.user-info i {
  margin-left: 10px;
  color: #27c0ff;
  font-size: 20px;
}
.user-info small {
  color: var(--brand);
}
.testimonial-col:hover {
  transform: translateY(-7px);
  box-shadow: 5px 5px 5px var(--brand);
}
@media screen and (max-width: 770px) {
  .testimonial-col {
    flex-basis: 100%;
  }
}

footer {
  padding: 100px 0 20px;
  background-color: #efefee;
  position: relative;
}
.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left,
.footer-right {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}
.footer-right {
  text-align: right;
}
.footer-row h1 {
  margin: 10px 0;
}
.footer-row p {
  line-height: 35px;
}
.footer-left i,
.footer-right i {
  font-size: 20px;
  color: var(--brand);
  margin: 10px;
}
.footer-img {
  max-width: 370px;
  opacity: 0.1;
  position: absolute;
  left: 38%;
}
@media screen and (max-width: 770px) {
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
  .footer-img {
    top: 20%;
    max-width: 200px;
  }
  .footer-right {
    text-align: left;
  }
}
